# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp
*.temp

# Editor files
.vscode/
.idea/

# Typora (optional backups if any)
*.bak

# VirtualBox files (VERY IMPORTANT)
*.vdi
*.vbox
*.vbox-prev
*.log

# ISO files
*.iso

# Cache
*.cache
